.register-wrap {
    position: relative;
    margin: 0 auto;
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
    margin-bottom: 19vh;
}

.register-wrap h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e;
}

.register-wrap .form {
    padding-top: 20px;
}

.register-wrap .form input,
.register-wrap .form button {
    width: 80%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
    outline-style: none;
    -moz-outline-style: none;
}

.register-wrap .form input {
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
}

.register-wrap .form input:focus {
    border: 1px solid #3498db;
}

.register-wrap .form a {
    text-align: center;
    font-size: 10px;
    color: #3498db;
}

.register-wrap .form a p {
    padding-bottom: 10px;
}

.register-wrap .form button {
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.register-wrap .form button:hover {
    box-shadow: 1px 1px 5px #555;
}

.register-wrap .form button:active {
    box-shadow: 1px 1px 7px #222;
}